@{
    ViewBag.Title = "Search Results";
}
@model MyEBooks.Models.SearchResult
<h1>Search Results for: @Model.SearchKeyword (found '@Model.Books.Count()' Books)</h1>
<ul>
    @foreach (var book in @Model.Books)
    {
        <li>@book.Title</li>
    }
</ul>
