<script type="text/javascript">
    $(function () {
        $.getJSON("/api/TagCloud", function (data) {
            var items = [];
            $.each(data, function (index, element) {
                $("#tagcloudSquare").append("<a href=' + element.Link + ' rel=' + element.Weight +' >' + element.Text + '</a>");
                //items.push({ text: element.Text, weight: element.Weight, link: element.Link });
            });
            $("#tagcloudSquare a").tagcloud({
                size: { start: 12, end: 36, unit: "px" },
                color: { start: '#3498DB', end: '#46CFB0' }
            });
        });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div id="tagcloudSquare">
            </div>
        </div>
    </div>
</div>
